{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "quotes": [1, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "no-console": 1,
    "no-debugger": 1,
    "no-var": 1,
    "prefer-const": 1,
    "semi": [1, "never"],
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-unused-vars": 1,
    "no-underscore-dangle": 0,
    "no-alert": 1,
    "no-lone-blocks": 0,
    "no-empty": 1,
    "no-empty-pattern": 1,
    "no-unreachable": 1,
    "no-constant-condition": 1,
    "jsx-quotes": 1,
    "comma-dangle": 1,
    "import/no-named-as-default": 0
  },
  "globals": {
    "console": true
  }
}
